#a{
    margin-left: 1269px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    
}

#d{
    position: relative;
    margin-top: -100px;
    font-size: 50px;

}
#e{
    position: relative;
    margin-right: 1420px;
    font-size: 26px;
}
#f{
    position: relative;
    margin-left: 1115px;
    margin-top: -59px;
}
.i2{
    position: absolute;
    bottom: -40px;
    background: rgb(0,0,0);
    background: rgb(0,0,0,0.5);
    color: #f1f1f1;
    width: 100%;
    height: 26%;
    padding: 20px;
}
#g{
    margin-left: 50px;
  
   
}
#h{
    margin-left: 1300px;
    margin-top: -43px;
    margin-bottom: 100px;
}
#i{
    margin-left: 915px;
}
#j{
    margin-left: 75px;
}
#k{
    margin-left: 60px;
    margin-top: -17px;
}
#l{
    margin-left: 600px; 
}
#m{
    margin-left: 340px;
    margin-right: 0px;
    margin-top: -84px;
    margin-bottom: 0px;
}
#n{
    margin-left: 350px;
    margin-right: 0px;
    margin-top: -84px;
    margin-bottom: 0px;
}
.img{
    width: 30px;
    height: 25px;
}

.img1{
    width: 75px;
    height: 100px;
}
#p{
    margin-left: 50px;
}
#q{
    margin-left: 50px; 
}
#r{
    margin-left: 50px;
}
#s{
    margin-left: 260px;
    margin-top: 5px;
}
#t{
    height: 100px;
    width: 150px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}
#u{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(145, 139, 139);
}

#y{
    
    font-size: 25px;
    color: rgb(107, 105, 105);
}
#z{
    
    background-color: white;
}
#ab{
    margin-left: 1079px;
    margin-right: 0px;
    margin-top: -49px;
    margin-bottom: 0px;
    color: rgb(107, 105, 105);
    
}
#cd{
    margin-left: 40px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px; 
    height: 50px;
    width: 50px;
    position: absolute;  
}
#ef{
    margin-left: 350px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    width: 50px;
    position: absolute;       
}
#gh{
    margin-left:695px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    width: 50px;
    position: absolute;      
}
#ij{
    margin-left: 1025px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    width: 50px;
    position: absolute;       
}
#kl{
    margin-left: 1380px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    width: 50px;
    position: absolute;      
}
#sh{
    border-radius: 50%;
    height: 100px;
    width: 100px;
   
}


